<p class="">
  <a href="../form" class="uk-button uk-button-primary uk-button-large">Add new log</a>
  &nbsp;
  <a href="{{apiPath}}/export.csv" class="uk-button uk-button-primary uk-button-large">Export</a>
</p>
<div class="timelogs">
  <ng-container *ngIf="timelogs.length; else noTimelogs">
    <div class="uk-grid-collapse">
      <table class="uk-table">
        <thead>
          <th>ID</th>
          <th>Day</th>
          <th>Start</th>
          <th>End</th>
          <th>Pause</th>
          <th>Summary</th>
        </thead>
        <tr *ngFor="let timelog of timelogs">
          <td>{{timelog.id}}</td>
          <td>{{day(timelog.start)}}</td>
          <td>{{time(timelog.start)}}</td>
          <td>{{time(timelog.end)}}</td>
          <td>{{time(timelog.pauseStart)}} - {{time(timelog.pauseEnd)}}</td>
          <td>{{summary(timelog)}}</td>
        </tr>
      </table>
    </div>
  </ng-container>
</div>
<ng-template #noTimelogs>
  <div uk-alert>
    <span>No timelogs found</span>
    <a class="uk-alert-close" uk-close></a>
</div>
</ng-template>
