:root {
  --primary-color: #b51f2a;
  --primary-color-hover: #8e1c24;
  --secondary-color: #bdbcbc;
  --secondary-color-hover:  #ececec;
  --border-color: #999;
  --text-color: #444;

  --breakpoint-phone: 800px;
  --breakpoint-tablet: 801px;
  --breakpoint-desktop: 1366px;
  --breakpoint-desktop-large: 1920px;

  --page-padding: 0.5rem 2rem;
}
